<a href="https://colab.research.google.com/github/Recorder08/Recorder08.github.io/blob/master/aix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [35]:
# 데이터 분석 준비

import pandas as pd
import numpy as np

import matplotlib as mpl
from matplotlib import pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

%matplotlib inline
mpl.rcParams['axes.unicode_minus'] = False
plt.style.use('seaborn-colorblind')

from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [3]:
# 데이터 로딩
challenger_df = pd.read_csv('/content/gdrive/MyDrive/Challenger_Ranked_Games.csv')

In [5]:
print(challenger_df.columns.values)

['gameId' 'gameDuraton' 'blueWins' 'blueFirstBlood' 'blueFirstTower'
 'blueFirstBaron' 'blueFirstDragon' 'blueFirstInhibitor' 'blueDragonKills'
 'blueBaronKills' 'blueTowerKills' 'blueInhibitorKills' 'blueWardPlaced'
 'blueWardkills' 'blueKills' 'blueDeath' 'blueAssist'
 'blueChampionDamageDealt' 'blueTotalGold' 'blueTotalMinionKills'
 'blueTotalLevel' 'blueAvgLevel' 'blueJungleMinionKills'
 'blueKillingSpree' 'blueTotalHeal' 'blueObjectDamageDealt' 'redWins'
 'redFirstBlood' 'redFirstTower' 'redFirstBaron' 'redFirstDragon'
 'redFirstInhibitor' 'redDragonKills' 'redBaronKills' 'redTowerKills'
 'redInhibitorKills' 'redWardPlaced' 'redWardkills' 'redKills' 'redDeath'
 'redAssist' 'redChampionDamageDealt' 'redTotalGold' 'redTotalMinionKills'
 'redTotalLevel' 'redAvgLevel' 'redJungleMinionKills' 'redKillingSpree'
 'redTotalHeal' 'redObjectDamageDealt']

In [37]:
# preview the dat
challenger_df.head()

       gameId  gameDuraton  ...  redTotalHeal  redObjectDamageDealt
0  4247263043         1323  ...         38711                 60463
1  4247155821         1317  ...         24829                 14105
2  4243963257          932  ...         12589                 45201
3  4241678498         2098  ...         65312                 88202
4  4241538868         2344  ...         86431                 64141

[5 rows x 50 columns]

In [38]:
challenger_df.info() #non-null 값이 다름 -> null값이 존재하므로 처리 필요

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26904 entries, 0 to 26903
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   26904 non-null  int64
 1   gameDuraton              26904 non-null  int64
 2   blueWins                 26904 non-null  int64
 3   blueFirstBlood           26904 non-null  int64
 4   blueFirstTower           26904 non-null  int64
 5   blueFirstBaron           26904 non-null  int64
 6   blueFirstDragon          26904 non-null  int64
 7   blueFirstInhibitor       26904 non-null  int64
 8   blueDragonKills          26904 non-null  int64
 9   blueBaronKills           26904 non-null  int64
 10  blueTowerKills           26904 non-null  int64
 11  blueInhibitorKills       26904 non-null  int64
 12  blueWardPlaced           26904 non-null  int64
 13  blueWardkills            26904 non-null  int64
 14  blueKills                26904 non-null  int64
 15  blueDeath                26904 non-null  int64
 16  blueAssist               26904 non-null  int64
 17  blueChampionDamageDealt  26904 non-null  int64
 18  blueTotalGold            26904 non-null  int64
 19  blueTotalMinionKills     26904 non-null  int64
 20  blueTotalLevel           26904 non-null  int64
 21  blueAvgLevel             26904 non-null  float64
 22  blueJungleMinionKills    26904 non-null  int64
 23  blueKillingSpree         26904 non-null  int64
 24  blueTotalHeal            26904 non-null  int64
 25  blueObjectDamageDealt    26904 non-null  int64
 26  redWins                  26904 non-null  int64
 27  redFirstBlood            26904 non-null  int64
 28  redFirstTower            26904 non-null  int64
 29  redFirstBaron            26904 non-null  int64
 30  redFirstDragon           26904 non-null  int64
 31  redFirstInhibitor        26904 non-null  int64
 32  redDragonKills           26904 non-null  int64
 33  redBaronKills            26904 non-null  int64
 34  redTowerKills            26904 non-null  int64
 35  redInhibitorKills        26904 non-null  int64
 36  redWardPlaced            26904 non-null  int64
 37  redWardkills             26904 non-null  int64
 38  redKills                 26904 non-null  int64
 39  redDeath                 26904 non-null  int64
 40  redAssist                26904 non-null  int64
 41  redChampionDamageDealt   26904 non-null  int64
 42  redTotalGold             26904 non-null  int64
 43  redTotalMinionKills      26904 non-null  int64
 44  redTotalLevel            26904 non-null  int64
 45  redAvgLevel              26904 non-null  float64
 46  redJungleMinionKills     26904 non-null  int64
 47  redKillingSpree          26904 non-null  int64
 48  redTotalHeal             26904 non-null  int64
 49  redObjectDamageDealt     26904 non-null  int64
dtypes: float64(2), int64(48)
memory usage: 10.3 MB

In [36]:
challenger_df.describe()

             gameId   gameDuraton  ...   redTotalHeal  redObjectDamageDealt
count  2.690400e+04  26904.000000  ...   26904.000000          26904.000000
mean   4.171927e+09   1448.653657  ...   25505.503085          37648.115336
std    7.479506e+07    422.577288  ...   15330.689295          26509.187910
min    3.482433e+09    190.000000  ...       0.000000              0.000000
25%    4.142427e+09   1152.000000  ...   14499.750000          14454.000000
50%    4.190657e+09   1435.000000  ...   22377.000000          33385.000000
75%    4.219650e+09   1738.000000  ...   33217.250000          57690.000000
max    4.261026e+09   3301.000000  ...  188603.000000         152319.000000

[8 rows x 50 columns]

missingvalue

In [40]:
# check missing values in train dataset
challenger_df.isnull().sum()

gameId                     0
gameDuraton                0
blueWins                   0
blueFirstBlood             0
blueFirstTower             0
blueFirstBaron             0
blueFirstDragon            0
blueFirstInhibitor         0
blueDragonKills            0
blueBaronKills             0
blueTowerKills             0
blueInhibitorKills         0
blueWardPlaced             0
blueWardkills              0
blueKills                  0
blueDeath                  0
blueAssist                 0
blueChampionDamageDealt    0
blueTotalGold              0
blueTotalMinionKills       0
blueTotalLevel             0
blueAvgLevel               0
blueJungleMinionKills      0
blueKillingSpree           0
blueTotalHeal              0
blueObjectDamageDealt      0
redWins                    0
redFirstBlood              0
redFirstTower              0
redFirstBaron              0
redFirstDragon             0
redFirstInhibitor          0
redDragonKills             0
redBaronKills              0
redTowerKills              0
redInhibitorKills          0
redWardPlaced              0
redWardkills               0
redKills                   0
redDeath                   0
redAssist                  0
redChampionDamageDealt     0
redTotalGold               0
redTotalMinionKills        0
redTotalLevel              0
redAvgLevel                0
redJungleMinionKills       0
redKillingSpree            0
redTotalHeal               0
redObjectDamageDealt       0
dtype: int64

In [34]:
challenger_df.describe().T

                           count          mean  ...           75%           max
gameId                   26904.0  4.171927e+09  ...  4.219650e+09  4.261026e+09
gameDuraton              26904.0  1.448654e+03  ...  1.738000e+03  3.301000e+03
blueWins                 26904.0  5.000743e-01  ...  1.000000e+00  1.000000e+00
blueFirstBlood           26904.0  5.035311e-01  ...  1.000000e+00  1.000000e+00
blueFirstTower           26904.0  5.256096e-01  ...  1.000000e+00  1.000000e+00
blueFirstBaron           26904.0  2.440901e-01  ...  0.000000e+00  1.000000e+00
blueFirstDragon          26904.0  4.063336e-01  ...  1.000000e+00  1.000000e+00
blueFirstInhibitor       26904.0  3.671201e-01  ...  1.000000e+00  1.000000e+00
blueDragonKills          26904.0  1.389719e+00  ...  2.000000e+00  7.000000e+00
blueBaronKills           26904.0  3.070175e-01  ...  1.000000e+00  4.000000e+00
blueTowerKills           26904.0  4.397562e+00  ...  7.000000e+00  1.100000e+01
blueInhibitorKills       26904.0  6.198707e-01  ...  1.000000e+00  9.000000e+00
blueWardPlaced           26904.0  5.864035e+01  ...  7.900000e+01  2.300000e+02
blueWardkills            26904.0  2.233014e+01  ...  3.200000e+01  1.090000e+02
blueKills                26904.0  2.418941e+01  ...  3.200000e+01  9.900000e+01
blueDeath                26904.0  2.418057e+01  ...  3.200000e+01  1.020000e+02
blueAssist               26904.0  3.998640e+01  ...  5.300000e+01  2.380000e+02
blueChampionDamageDealt  26904.0  6.974634e+04  ...  9.015950e+04  3.339570e+05
blueTotalGold            26904.0  4.816913e+04  ...  5.865650e+04  1.219200e+05
blueTotalMinionKills     26904.0  5.204466e+02  ...  6.390000e+02  1.267000e+03
blueTotalLevel           26904.0  6.502423e+01  ...  7.500000e+01  1.320000e+02
blueAvgLevel             26904.0  1.300485e+01  ...  1.500000e+01  2.640000e+01
blueJungleMinionKills    26904.0  1.295869e+02  ...  1.730000e+02  4.020000e+02
blueKillingSpree         26904.0  5.554193e+00  ...  7.000000e+00  2.900000e+01
blueTotalHeal            26904.0  2.505064e+04  ...  3.272575e+04  1.624420e+05
blueObjectDamageDealt    26904.0  3.839388e+04  ...  5.782925e+04  1.676920e+05
redWins                  26904.0  4.999257e-01  ...  1.000000e+00  1.000000e+00
redFirstBlood            26904.0  4.944618e-01  ...  1.000000e+00  1.000000e+00
redFirstTower            26904.0  4.627193e-01  ...  1.000000e+00  1.000000e+00
redFirstBaron            26904.0  2.666146e-01  ...  1.000000e+00  1.000000e+00
redFirstDragon           26904.0  5.035311e-01  ...  1.000000e+00  1.000000e+00
redFirstInhibitor        26904.0  3.485355e-01  ...  1.000000e+00  1.000000e+00
redDragonKills           26904.0  1.563857e+00  ...  3.000000e+00  6.000000e+00
redBaronKills            26904.0  3.363069e-01  ...  1.000000e+00  4.000000e+00
redTowerKills            26904.0  4.255910e+00  ...  7.000000e+00  1.100000e+01
redInhibitorKills        26904.0  5.849316e-01  ...  1.000000e+00  7.000000e+00
redWardPlaced            26904.0  5.883226e+01  ...  7.900000e+01  2.020000e+02
redWardkills             26904.0  2.191209e+01  ...  3.100000e+01  1.170000e+02
redKills                 26904.0  2.410117e+01  ...  3.200000e+01  1.020000e+02
redDeath                 26904.0  2.426858e+01  ...  3.200000e+01  9.900000e+01
redAssist                26904.0  3.980074e+01  ...  5.300000e+01  2.290000e+02
redChampionDamageDealt   26904.0  6.952826e+04  ...  8.981175e+04  3.591840e+05
redTotalGold             26904.0  4.820798e+04  ...  5.871925e+04  1.352990e+05
redTotalMinionKills      26904.0  5.263377e+02  ...  6.480000e+02  1.443000e+03
redTotalLevel            26904.0  6.521317e+01  ...  7.500000e+01  1.320000e+02
redAvgLevel              26904.0  1.304263e+01  ...  1.500000e+01  2.640000e+01
redJungleMinionKills     26904.0  1.304687e+02  ...  1.740000e+02  4.320000e+02
redKillingSpree          26904.0  5.541704e+00  ...  7.000000e+00  2.900000e+01
redTotalHeal             26904.0  2.550550e+04  ...  3.321725e+04  1.886030e+05
redObjectDamageDealt     26904.0  3.764812e+04  ...  5.769000e+04  1.523190e+05

[50 rows x 8 columns]

#feature 분포 확인

In [12]:
# 시각화 패키지
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#블루팀이 이겼을때 블루팀과 레드팀 총 골드량

In [43]:
features = ['blueTotalGold','redTotalGold']

In [44]:
list(challenger_df.loc[challenger_df['blueWins'] == 1, features])

['blueTotalGold', 'redTotalGold']

In [45]:
# Check the stats of Winners
bluewin = challenger_df.loc[challenger_df['blueWins'] == 1, features].mean()

In [46]:
bluewin

blueTotalGold    52447.299985
redTotalGold     43977.909915
dtype: float64

# 게임에 영향을 줄거로 생각되는 특정 feature를 뽑기
gameDuration : 시간 별로 승패에 영향주는 요소가 달라질 수도 있음
Red/Blue : 진영 별 유불리

FirstBlood 
FirstBaron 
FirstDragon
Firstinhibitor
Kill/Death/Assist - KDA로 통합하여 한 feature로 만들기 
 
Total gold
Avglevel
ChampionDamageDealt 

wardplaced-wardkills (시야)

골드량 킬 바론 정도만 볼 수 있도록 bluWins== 1  이면 블루승

In [132]:
# 필요한 feature만 뽑아 새로운 df에 저장 
test_df = challenger_df[[ 'blueTotalGold', 'blueKills', 'blueDragonKills', 'redTotalGold', 'redKills', 'redDragonKills','blueWins']]

In [133]:
test_df

       blueTotalGold  blueKills  ...  redDragonKills  blueWins
0              37001         15  ...               3         0
1              41072         19  ...               0         1
2              22929          5  ...               2         0
3              63447         26  ...               3         0
4              74955         27  ...               3         1
...              ...        ...  ...             ...       ...
26899          41437         24  ...               2         0
26900          61221         29  ...               0         0
26901          45013         14  ...               1         0
26902          58160         32  ...               2         1
26903          30001         10  ...               1         1

[26904 rows x 7 columns]

In [136]:
bluewin_y = test_df['blueWins']

In [142]:
# 데이터 내에서 학습 집합과 테스트 집합을 나눔(8:2)
X_train, X_test, y_train, y_test = train_test_split(test_df, bluewin_y, test_size=.2,random_state=12)

X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((21523, 7), (21523,), (5381, 7), (5381,))

In [143]:
X_train

       blueTotalGold  blueKills  ...  redDragonKills  blueWins
25987          34361         14  ...               1         0
17601          41401         26  ...               0         1
6993           70961         54  ...               1         1
14967          53685         18  ...               2         1
2185           41224         14  ...               1         0
...              ...        ...  ...             ...       ...
7409           65686         35  ...               1         1
19709          75574         40  ...               4         0
25990          35464         29  ...               0         1
5787           40330         12  ...               3         0
14155          35551          8  ...               2         0

[21523 rows x 7 columns]

In [144]:
Y_train

25987    0
17601    1
6993     1
14967    1
2185     0
        ..
7409     1
19709    0
25990    1
5787     0
14155    0
Name: RESULT, Length: 21523, dtype: int64

#기계학습

In [124]:

# 기계 학습
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB  # 이산형이 아닌 연속형에 대한
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.cluster import KMeans

In [145]:

# Support Vector Machines
# SVM 모델 학습
svc = SVC()
svc.fit(X_train, Y_train)
Y_pred_svc = svc.predict(X_test)
acc_svc = round(svc.score(X_test, Y_test) * 100, 2)
acc_svc

97.7

In [146]:
#k-Nearest Neighbor
knn  = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred_knn = knn.predict(X_test)
acc_knn = round(knn.score(X_test, Y_test) * 100, 2)
acc_knn

97.42

In [147]:
# Gaussian Naive Bayes
gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred_NB = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_test, Y_test) * 100, 2)
acc_gaussian

98.55

In [148]:

# Decision Tree
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred_DT = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_test, Y_test) * 100, 2)
acc_decision_tree

100.0

In [149]:
#Artificial Neural Network

ANN = MLPClassifier(solver='lbfgs', alpha=1, hidden_layer_sizes=(30, 10), random_state=1)
ANN.fit(X_train, Y_train)
Y_pred_ANN = ANN.predict(X_test)
acc_ANN = round(ANN.score(X_test, Y_test) * 100, 2)
acc_ANN

93.07

#keras ann model

In [156]:

from keras import layers, models, datasets
from keras.utils import np_utils

In [157]:
def plot(hist):
    fig, loss_ax = plt.subplots()
    acc_ax = loss_ax.twinx()

    loss_ax.plot(hist.history['loss'], 'y', label='train loss')
    loss_ax.plot(hist.history['val_loss'], 'r', label='val loss')

    acc_ax.plot(hist.history['accuracy'], 'b', label='train acc')
    acc_ax.plot(hist.history['val_accuracy'], 'g', label='val acc')

    loss_ax.set_xlabel('epoch')
    loss_ax.set_ylabel('loss')
    acc_ax.set_ylabel('accuray')

    loss_ax.legend(loc='upper left')
    acc_ax.legend(loc='lower left')

    plt.show()

In [159]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation

model = Sequential()
model.add(Dense(64, activation='relu', input_dim=7))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))       
model.compile(loss='binary_crossentropy',optimizer='adam', metrics=['accuracy'])

history = model.fit(X_train, Y_train, epochs=40,
        batch_size=32, validation_split=0.2)
performance_test = model.evaluate(X_test, Y_test, batch_size=32)
classes = model.predict(X_test, batch_size=128)
performance_test

Epoch 1/40
539/539 [==============================] - 2s 3ms/step - loss: 211.4204 - accuracy: 0.8784 - val_loss: 5.6077 - val_accuracy: 0.9714
Epoch 2/40
539/539 [==============================] - 2s 3ms/step - loss: 19.9512 - accuracy: 0.9456 - val_loss: 0.5383 - val_accuracy: 0.9812
Epoch 3/40
539/539 [==============================] - 2s 3ms/step - loss: 5.9895 - accuracy: 0.9503 - val_loss: 0.0909 - val_accuracy: 0.9789
Epoch 4/40
539/539 [==============================] - 2s 3ms/step - loss: 2.8468 - accuracy: 0.9374 - val_loss: 0.1372 - val_accuracy: 0.9682
Epoch 5/40
539/539 [==============================] - 2s 3ms/step - loss: 1.4583 - accuracy: 0.9216 - val_loss: 0.1559 - val_accuracy: 0.9707
Epoch 6/40
539/539 [==============================] - 2s 3ms/step - loss: 0.7851 - accuracy: 0.9359 - val_loss: 0.1215 - val_accuracy: 0.9826
Epoch 7/40
539/539 [==============================] - 2s 3ms/step - loss: 0.5216 - accuracy: 0.9333 - val_loss: 0.1062 - val_accuracy: 0.9779
Epoch 8/40
539/539 [==============================] - 2s 3ms/step - loss: 0.3607 - accuracy: 0.9371 - val_loss: 0.0737 - val_accuracy: 0.9668
Epoch 9/40
539/539 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.9412 - val_loss: 0.0915 - val_accuracy: 0.9742
Epoch 10/40
539/539 [==============================] - 2s 3ms/step - loss: 0.2486 - accuracy: 0.9400 - val_loss: 0.0541 - val_accuracy: 0.9833
Epoch 11/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1673 - accuracy: 0.9512 - val_loss: 0.1001 - val_accuracy: 0.9826
Epoch 12/40
539/539 [==============================] - 1s 3ms/step - loss: 0.2187 - accuracy: 0.9520 - val_loss: 0.0615 - val_accuracy: 0.9744
Epoch 13/40
539/539 [==============================] - 1s 3ms/step - loss: 0.2013 - accuracy: 0.9496 - val_loss: 0.0637 - val_accuracy: 0.9782
Epoch 14/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1548 - accuracy: 0.9550 - val_loss: 0.0709 - val_accuracy: 0.9786
Epoch 15/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1616 - accuracy: 0.9533 - val_loss: 0.0527 - val_accuracy: 0.9821
Epoch 16/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1560 - accuracy: 0.9577 - val_loss: 0.0608 - val_accuracy: 0.9786
Epoch 17/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1419 - accuracy: 0.9558 - val_loss: 0.0766 - val_accuracy: 0.9756
Epoch 18/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1141 - accuracy: 0.9619 - val_loss: 0.0656 - val_accuracy: 0.9826
Epoch 19/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1391 - accuracy: 0.9585 - val_loss: 0.0599 - val_accuracy: 0.9826
Epoch 20/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1208 - accuracy: 0.9643 - val_loss: 0.0925 - val_accuracy: 0.9617
Epoch 21/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1113 - accuracy: 0.9612 - val_loss: 0.0594 - val_accuracy: 0.9735
Epoch 22/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1286 - accuracy: 0.9581 - val_loss: 0.0622 - val_accuracy: 0.9798
Epoch 23/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1227 - accuracy: 0.9553 - val_loss: 0.0603 - val_accuracy: 0.9826
Epoch 24/40
539/539 [==============================] - 2s 3ms/step - loss: 0.1170 - accuracy: 0.9644 - val_loss: 0.0562 - val_accuracy: 0.9812
Epoch 25/40
539/539 [==============================] - 2s 3ms/step - loss: 0.0990 - accuracy: 0.9661 - val_loss: 0.0521 - val_accuracy: 0.9828
Epoch 26/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1203 - accuracy: 0.9599 - val_loss: 0.0556 - val_accuracy: 0.9826
Epoch 27/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1181 - accuracy: 0.9564 - val_loss: 0.0572 - val_accuracy: 0.9823
Epoch 28/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1042 - accuracy: 0.9592 - val_loss: 0.0676 - val_accuracy: 0.9803
Epoch 29/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1233 - accuracy: 0.9600 - val_loss: 0.0808 - val_accuracy: 0.9830
Epoch 30/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1046 - accuracy: 0.9658 - val_loss: 0.0570 - val_accuracy: 0.9779
Epoch 31/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1181 - accuracy: 0.9628 - val_loss: 0.0501 - val_accuracy: 0.9826
Epoch 32/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1077 - accuracy: 0.9675 - val_loss: 0.0855 - val_accuracy: 0.9803
Epoch 33/40
539/539 [==============================] - 2s 3ms/step - loss: 0.1037 - accuracy: 0.9620 - val_loss: 0.0565 - val_accuracy: 0.9821
Epoch 34/40
539/539 [==============================] - 2s 3ms/step - loss: 0.1098 - accuracy: 0.9672 - val_loss: 0.0983 - val_accuracy: 0.9454
Epoch 35/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1162 - accuracy: 0.9630 - val_loss: 0.0697 - val_accuracy: 0.9807
Epoch 36/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1125 - accuracy: 0.9628 - val_loss: 0.0510 - val_accuracy: 0.9816
Epoch 37/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1050 - accuracy: 0.9653 - val_loss: 0.0892 - val_accuracy: 0.9519
Epoch 38/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1025 - accuracy: 0.9670 - val_loss: 0.0776 - val_accuracy: 0.9744
Epoch 39/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1122 - accuracy: 0.9670 - val_loss: 0.0704 - val_accuracy: 0.9823
Epoch 40/40
539/539 [==============================] - 1s 3ms/step - loss: 0.1065 - accuracy: 0.9657 - val_loss: 0.0577 - val_accuracy: 0.9805
169/169 [==============================] - 0s 2ms/step - loss: 0.0753 - accuracy: 0.9771

[0.07533184438943863, 0.977141797542572]

In [160]:
classes2_list = classes.tolist()
model_keras_ANN = []
for i in classes2_list:
    model_keras_ANN.append(round(i[0]))

#모델검증

In [161]:

#report
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred_ANN, digits=4))

              precision    recall  f1-score   support

           0     0.9877    0.8715    0.9260      2677
           1     0.8861    0.9893    0.9348      2704

    accuracy                         0.9307      5381
   macro avg     0.9369    0.9304    0.9304      5381
weighted avg     0.9366    0.9307    0.9304      5381