<a href="https://colab.research.google.com/github/Recorder08/Recorder08.github.io/blob/master/aix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [35]:
# 데이터 분석 준비

import pandas as pd
import numpy as np

import matplotlib as mpl
from matplotlib import pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

%matplotlib inline
mpl.rcParams['axes.unicode_minus'] = False
plt.style.use('seaborn-colorblind')

from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [3]:
# 데이터 로딩
challenger_df = pd.read_csv('/content/gdrive/MyDrive/Challenger_Ranked_Games.csv')

In [5]:
print(challenger_df.columns.values)

['gameId' 'gameDuraton' 'blueWins' 'blueFirstBlood' 'blueFirstTower'
 'blueFirstBaron' 'blueFirstDragon' 'blueFirstInhibitor' 'blueDragonKills'
 'blueBaronKills' 'blueTowerKills' 'blueInhibitorKills' 'blueWardPlaced'
 'blueWardkills' 'blueKills' 'blueDeath' 'blueAssist'
 'blueChampionDamageDealt' 'blueTotalGold' 'blueTotalMinionKills'
 'blueTotalLevel' 'blueAvgLevel' 'blueJungleMinionKills'
 'blueKillingSpree' 'blueTotalHeal' 'blueObjectDamageDealt' 'redWins'
 'redFirstBlood' 'redFirstTower' 'redFirstBaron' 'redFirstDragon'
 'redFirstInhibitor' 'redDragonKills' 'redBaronKills' 'redTowerKills'
 'redInhibitorKills' 'redWardPlaced' 'redWardkills' 'redKills' 'redDeath'
 'redAssist' 'redChampionDamageDealt' 'redTotalGold' 'redTotalMinionKills'
 'redTotalLevel' 'redAvgLevel' 'redJungleMinionKills' 'redKillingSpree'
 'redTotalHeal' 'redObjectDamageDealt']

In [37]:
# preview the dat
challenger_df.head()

       gameId  gameDuraton  ...  redTotalHeal  redObjectDamageDealt
0  4247263043         1323  ...         38711                 60463
1  4247155821         1317  ...         24829                 14105
2  4243963257          932  ...         12589                 45201
3  4241678498         2098  ...         65312                 88202
4  4241538868         2344  ...         86431                 64141

[5 rows x 50 columns]

In [38]:
challenger_df.info() #non-null 값이 다름 -> null값이 존재하므로 처리 필요

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26904 entries, 0 to 26903
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   26904 non-null  int64
 1   gameDuraton              26904 non-null  int64
 2   blueWins                 26904 non-null  int64
 3   blueFirstBlood           26904 non-null  int64
 4   blueFirstTower           26904 non-null  int64
 5   blueFirstBaron           26904 non-null  int64
 6   blueFirstDragon          26904 non-null  int64
 7   blueFirstInhibitor       26904 non-null  int64
 8   blueDragonKills          26904 non-null  int64
 9   blueBaronKills           26904 non-null  int64
 10  blueTowerKills           26904 non-null  int64
 11  blueInhibitorKills       26904 non-null  int64
 12  blueWardPlaced           26904 non-null  int64
 13  blueWardkills            26904 non-null  int64
 14  blueKills                26904 non-null  int64
 15  blueDeath                26904 non-null  int64
 16  blueAssist               26904 non-null  int64
 17  blueChampionDamageDealt  26904 non-null  int64
 18  blueTotalGold            26904 non-null  int64
 19  blueTotalMinionKills     26904 non-null  int64
 20  blueTotalLevel           26904 non-null  int64
 21  blueAvgLevel             26904 non-null  float64
 22  blueJungleMinionKills    26904 non-null  int64
 23  blueKillingSpree         26904 non-null  int64
 24  blueTotalHeal            26904 non-null  int64
 25  blueObjectDamageDealt    26904 non-null  int64
 26  redWins                  26904 non-null  int64
 27  redFirstBlood            26904 non-null  int64
 28  redFirstTower            26904 non-null  int64
 29  redFirstBaron            26904 non-null  int64
 30  redFirstDragon           26904 non-null  int64
 31  redFirstInhibitor        26904 non-null  int64
 32  redDragonKills           26904 non-null  int64
 33  redBaronKills            26904 non-null  int64
 34  redTowerKills            26904 non-null  int64
 35  redInhibitorKills        26904 non-null  int64
 36  redWardPlaced            26904 non-null  int64
 37  redWardkills             26904 non-null  int64
 38  redKills                 26904 non-null  int64
 39  redDeath                 26904 non-null  int64
 40  redAssist                26904 non-null  int64
 41  redChampionDamageDealt   26904 non-null  int64
 42  redTotalGold             26904 non-null  int64
 43  redTotalMinionKills      26904 non-null  int64
 44  redTotalLevel            26904 non-null  int64
 45  redAvgLevel              26904 non-null  float64
 46  redJungleMinionKills     26904 non-null  int64
 47  redKillingSpree          26904 non-null  int64
 48  redTotalHeal             26904 non-null  int64
 49  redObjectDamageDealt     26904 non-null  int64
dtypes: float64(2), int64(48)
memory usage: 10.3 MB

In [36]:
challenger_df.describe()

             gameId   gameDuraton  ...   redTotalHeal  redObjectDamageDealt
count  2.690400e+04  26904.000000  ...   26904.000000          26904.000000
mean   4.171927e+09   1448.653657  ...   25505.503085          37648.115336
std    7.479506e+07    422.577288  ...   15330.689295          26509.187910
min    3.482433e+09    190.000000  ...       0.000000              0.000000
25%    4.142427e+09   1152.000000  ...   14499.750000          14454.000000
50%    4.190657e+09   1435.000000  ...   22377.000000          33385.000000
75%    4.219650e+09   1738.000000  ...   33217.250000          57690.000000
max    4.261026e+09   3301.000000  ...  188603.000000         152319.000000

[8 rows x 50 columns]

missingvalue

In [40]:
# check missing values in train dataset
challenger_df.isnull().sum()

gameId                     0
gameDuraton                0
blueWins                   0
blueFirstBlood             0
blueFirstTower             0
blueFirstBaron             0
blueFirstDragon            0
blueFirstInhibitor         0
blueDragonKills            0
blueBaronKills             0
blueTowerKills             0
blueInhibitorKills         0
blueWardPlaced             0
blueWardkills              0
blueKills                  0
blueDeath                  0
blueAssist                 0
blueChampionDamageDealt    0
blueTotalGold              0
blueTotalMinionKills       0
blueTotalLevel             0
blueAvgLevel               0
blueJungleMinionKills      0
blueKillingSpree           0
blueTotalHeal              0
blueObjectDamageDealt      0
redWins                    0
redFirstBlood              0
redFirstTower              0
redFirstBaron              0
redFirstDragon             0
redFirstInhibitor          0
redDragonKills             0
redBaronKills              0
redTowerKills              0
redInhibitorKills          0
redWardPlaced              0
redWardkills               0
redKills                   0
redDeath                   0
redAssist                  0
redChampionDamageDealt     0
redTotalGold               0
redTotalMinionKills        0
redTotalLevel              0
redAvgLevel                0
redJungleMinionKills       0
redKillingSpree            0
redTotalHeal               0
redObjectDamageDealt       0
dtype: int64

In [34]:
challenger_df.describe().T

                           count          mean  ...           75%           max
gameId                   26904.0  4.171927e+09  ...  4.219650e+09  4.261026e+09
gameDuraton              26904.0  1.448654e+03  ...  1.738000e+03  3.301000e+03
blueWins                 26904.0  5.000743e-01  ...  1.000000e+00  1.000000e+00
blueFirstBlood           26904.0  5.035311e-01  ...  1.000000e+00  1.000000e+00
blueFirstTower           26904.0  5.256096e-01  ...  1.000000e+00  1.000000e+00
blueFirstBaron           26904.0  2.440901e-01  ...  0.000000e+00  1.000000e+00
blueFirstDragon          26904.0  4.063336e-01  ...  1.000000e+00  1.000000e+00
blueFirstInhibitor       26904.0  3.671201e-01  ...  1.000000e+00  1.000000e+00
blueDragonKills          26904.0  1.389719e+00  ...  2.000000e+00  7.000000e+00
blueBaronKills           26904.0  3.070175e-01  ...  1.000000e+00  4.000000e+00
blueTowerKills           26904.0  4.397562e+00  ...  7.000000e+00  1.100000e+01
blueInhibitorKills       26904.0  6.198707e-01  ...  1.000000e+00  9.000000e+00
blueWardPlaced           26904.0  5.864035e+01  ...  7.900000e+01  2.300000e+02
blueWardkills            26904.0  2.233014e+01  ...  3.200000e+01  1.090000e+02
blueKills                26904.0  2.418941e+01  ...  3.200000e+01  9.900000e+01
blueDeath                26904.0  2.418057e+01  ...  3.200000e+01  1.020000e+02
blueAssist               26904.0  3.998640e+01  ...  5.300000e+01  2.380000e+02
blueChampionDamageDealt  26904.0  6.974634e+04  ...  9.015950e+04  3.339570e+05
blueTotalGold            26904.0  4.816913e+04  ...  5.865650e+04  1.219200e+05
blueTotalMinionKills     26904.0  5.204466e+02  ...  6.390000e+02  1.267000e+03
blueTotalLevel           26904.0  6.502423e+01  ...  7.500000e+01  1.320000e+02
blueAvgLevel             26904.0  1.300485e+01  ...  1.500000e+01  2.640000e+01
blueJungleMinionKills    26904.0  1.295869e+02  ...  1.730000e+02  4.020000e+02
blueKillingSpree         26904.0  5.554193e+00  ...  7.000000e+00  2.900000e+01
blueTotalHeal            26904.0  2.505064e+04  ...  3.272575e+04  1.624420e+05
blueObjectDamageDealt    26904.0  3.839388e+04  ...  5.782925e+04  1.676920e+05
redWins                  26904.0  4.999257e-01  ...  1.000000e+00  1.000000e+00
redFirstBlood            26904.0  4.944618e-01  ...  1.000000e+00  1.000000e+00
redFirstTower            26904.0  4.627193e-01  ...  1.000000e+00  1.000000e+00
redFirstBaron            26904.0  2.666146e-01  ...  1.000000e+00  1.000000e+00
redFirstDragon           26904.0  5.035311e-01  ...  1.000000e+00  1.000000e+00
redFirstInhibitor        26904.0  3.485355e-01  ...  1.000000e+00  1.000000e+00
redDragonKills           26904.0  1.563857e+00  ...  3.000000e+00  6.000000e+00
redBaronKills            26904.0  3.363069e-01  ...  1.000000e+00  4.000000e+00
redTowerKills            26904.0  4.255910e+00  ...  7.000000e+00  1.100000e+01
redInhibitorKills        26904.0  5.849316e-01  ...  1.000000e+00  7.000000e+00
redWardPlaced            26904.0  5.883226e+01  ...  7.900000e+01  2.020000e+02
redWardkills             26904.0  2.191209e+01  ...  3.100000e+01  1.170000e+02
redKills                 26904.0  2.410117e+01  ...  3.200000e+01  1.020000e+02
redDeath                 26904.0  2.426858e+01  ...  3.200000e+01  9.900000e+01
redAssist                26904.0  3.980074e+01  ...  5.300000e+01  2.290000e+02
redChampionDamageDealt   26904.0  6.952826e+04  ...  8.981175e+04  3.591840e+05
redTotalGold             26904.0  4.820798e+04  ...  5.871925e+04  1.352990e+05
redTotalMinionKills      26904.0  5.263377e+02  ...  6.480000e+02  1.443000e+03
redTotalLevel            26904.0  6.521317e+01  ...  7.500000e+01  1.320000e+02
redAvgLevel              26904.0  1.304263e+01  ...  1.500000e+01  2.640000e+01
redJungleMinionKills     26904.0  1.304687e+02  ...  1.740000e+02  4.320000e+02
redKillingSpree          26904.0  5.541704e+00  ...  7.000000e+00  2.900000e+01
redTotalHeal             26904.0  2.550550e+04  ...  3.321725e+04  1.886030e+05
redObjectDamageDealt     26904.0  3.764812e+04  ...  5.769000e+04  1.523190e+05

[50 rows x 8 columns]

#feature 분포 확인

In [12]:
# 시각화 패키지
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#블루팀이 이겼을때 블루팀과 레드팀 총 골드량

In [43]:
features = ['blueTotalGold','redTotalGold']

In [44]:
list(challenger_df.loc[challenger_df['blueWins'] == 1, features])

['blueTotalGold', 'redTotalGold']

In [45]:
# Check the stats of Winners
bluewin = challenger_df.loc[challenger_df['blueWins'] == 1, features].mean()

In [46]:
bluewin

blueTotalGold    52447.299985
redTotalGold     43977.909915
dtype: float64